@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: white;
}

li {
  list-style-type: none;
}

.versions {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prop {
  font-weight: bold;
}

td {
  text-align: center;
}

th {
  text-align: center;
  text-transform: uppercase;
}